html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font: 100% 'Open Sans', sans-serif;
}

a:link,
a:visited {
  color: #1E88E5;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
